.container {
  text-align: center;
  padding: 5rem 2rem;
  color: #333;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #777;
}

.homeButton {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: blueviolet;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}
